{% extends 'postingan/base.html' %}
{% block base %}
	<h1>Tentang Beritahoo</h1>
	<br>
	<h3>Beritahoo merupakan aplikasi berbasis web untuk publikasi beragam artikel berita, seperti olahraga, bisnis, otomotif dan teknologi.</h3>
	<h3>Jika anda seorang mahasiswa jurnalis atau jurnalis pemula, anda dapat bergabung dengan kami. Daftarkan diri anda dan dapatkan akun Beritahoo secara gratis.</h3>
	<h3>Di Beritahoo, anda dapat melatih skill anda dalam menyajikan suatu berita.</h3>
	<br>
	<h5>Note : Beritahoo masih dalam tahap development, akan ada fitur tambahan.</h5>
{% endblock base %}